@font-face {
    font-family: neueT;
    src: url(./font/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: neueM;
    src: url(./font/NeueHaasDisplayMediu.ttf);
}

@keyframes open {
    from {left: -220px;}
    to {left: 0px;}
}

@-moz-keyframes open {
    from {left: -220px;}
    to {left: 0px;}
}

@-webkit-keyframes open {
    from {left: -220px;}
    to {left: 0px;}
}

@keyframes close {
    from {left: 0px;}
    to {left: -220px;}
}

@-moz-keyframes close {
    from {left: 0px;}
    to {left: -220px;}
}

@-webkit-keyframes close {
    from {left: 0px;}
    to {left: -220px;}
}

* {
    margin: 0px auto;
}

body {
    background: url(./img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.status-bar {
    height: 60px;
    padding-top: 10px;
    background: #F2F2F3;
}

.status-bar > .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status-bar > .options > a {
    margin: 10px;
    font-family: neueM;
    text-decoration: none;
    font-size: large;
    color:#615157;
}

.status-bar > .options > a:focus {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    height: 300px;
    width: 400px;
    /*background-color: #F2F2F3;*/
    background-color: rgba(214, 215, 214, 1) ;
}

.description {
    width: 300px;
}

.description > * {
    text-align: center;
    color: #615157;
}

.description > p {
    font-family: neueT;
    font-size: large;
    margin-bottom: 40px;
}

.description > h2 {
    margin-top: 50px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.toggle-container {
    float: left;
    margin: 20px;
    margin-right: 0px;
    width: 30px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
}

.menu-toggle > span {
    background-color: rgba(97, 81, 87, 1);
    height: 5px;
    width: 30px;
    margin-bottom: 3px;
    border-radius: 2px;
}

/* drawer officially started here */

.drawer {
    background-color: rgba(214, 215, 214, 1);
    position: absolute;
    top: 0px;
    width: 220px;
    height: 500px;
    left: -220px;
}

.drawer > .drawer-header {
    width: 220px;
    height: 150px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(97, 81, 87, 0.3);
}

.drawer > .drawer-header > .drawer-h-content {
    height: 150px;
    width: 150px;
}

.drawer > .drawer-header > .drawer-h-content > img{
    height: 100px;
    width: 100px;
    margin: 20px;
    margin-top: 0px;
}

.drawer > .drawer-header > #close-btn {
    background-color: transparent;
    border-color: transparent;
    color: rgba(97, 81, 87, 0.3);
    font-size: 40px;
    font-family: neueT;
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}


.drawer > .drawer-body > .element {
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: neueT;
    color: #615157;
    border-bottom: 1px solid rgba(97, 81, 87, 0.3);
}
